# Core libraries
torch==2.2.0
streamlit==1.19.0
pinecone-client==2.0.2

# Langchain libraries
langchain==0.0.136
langchain-huggingface==0.1.1
langchain-pinecone==0.1.0
langchain-core==0.3.13  # Updated version to meet dependency requirement

# Other dependencies (if needed)
